<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ordem de Serviço</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="servico in servicos">
                {{ servicos }}
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
    const app = new Vue({
        el: '#app',
        data: {
            servicos: []
        },
        created () {
            fetch('http://localhost:8080/servicos')
            .then(response => response.json())
            .then(json => {
                this.servicos = json.servicos
            })
        }
    })
    </script>
    
</body>
</html>